<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifth.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.fifth.domain.Student">
        <id column="no" property="no" />
        <result column="studentName" property="name" />
        <association property="classes" javaType="com.fifth.domain.Classes">
            <result column="className" property="name"/>
        </association>
    </resultMap>

    <select id="getStudent" resultMap="BaseResultMap">
        SELECT
            s.NO NO,
            s.NAME studentName,
            c.NAME className
        FROM
            student s,
            classes c
        WHERE
            s.NO = #{studentNo}
            AND s.class_id = c.id
    </select>
</mapper>