<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifth.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.fifth.domain.Teacher">
        <id column="no" jdbcType="INTEGER" property="no" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <select id="getUserName" parameterType="java.lang.String" resultType="String">
       select name from teacher where no = #{no}
    </select>

    <select id="findOneTeacher" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from teacher where no = #{search} or name = #{search}
    </select>

    <update id="updateTeacher">
        UPDATE teacher

        SET no=#{no}, name=#{name}, sex=#{sex}, password=#{password}

        WHERE no=#{oldNo}

    </update>
</mapper>